*/Bin/
*/obj/
**/obj/
*/Thumbs.db
*/*/Thumbs.db
*/*/*/Thumbs.db
*/ARM/
.vs/
ARM/
Win32/
x64/*
!x64/EmbeddedBrowserWebView.dll
x86/*
!x86/EmbeddedBrowserWebView.dll
Debug/
Release/
AppPackages/
BundleArtifacts/
CoreProxyStub/Linphone.Core*
CoreProxyStub/Mediastreamer2.WP8Video*
CoreProxyStub/dlldata.c
Linphone.sdf
Linphone.opensdf
Agents/RegistrationHelper.cs
Linphone/Linphone.csproj.user
Linphone/AppPackages
Linphone/Tasks/obj
*.vcxproj.filters
*.sdf
**/packages/*
OUTPUT/
WORK/
SDK.sln
prepare.conf
.vscode
*.nupkg
*.un~
*~
!FixedRuntime/
/runtime.fqgU_rvm.win10-x86.microsoft.net.native.sharedlibrary.2.2.8-rel-29512-01.nupkg.part
/runtime.IkSoFBLJ.win10-arm64.microsoft.net.native.sharedlibrary.2.2.8-rel-29512-01.nupkg.part
