<?xml version="1.0" encoding="utf-8"?>

<!-- ITNOA -->

<configuration>
	<!-- Delete this file if using embedded resource app.config-->
	<appSettings>
		<!-- SIP Account settings-->
		<add key="PanelAddress" value="http://10.19.82.133:9011"/>
		<!-- <add key="Username" value="default"/> -->
		<add key="Username" value="1002"/>
		<add key="UserId" value=""/>
		<add key="Password" value=""/>
		<add key="Domain" value="172.22.64.3"/>
		<add key="Transport" value="TCP"/>
		<add key="RedisConnectionString" value="10.19.82.132"/>
		<add key="OutgoingCallEnabled" value="false"/>
		<add key="InHomeTesting" value="false"/>
	</appSettings>
</configuration>